body{
    font-family: Arial;
    background: linear-gradient(to right,#ce0000,#1f961a);
}

.wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}

.container{
    width:420px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
    text-align:center;
}

input,select{
    width:95%;
    padding:10px;
    margin:6px 0;
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:8px;
}

/* popup */
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

.popup-content{
    background:white;
    padding:20px;        /* reduced padding */
    border-radius:12px;
    text-align:center;
    width:300px;         /* smaller width */
    max-width:90%;
}

/* HEART */
.heart{
    position:relative;
    width:120px;
    height:110px;
    margin:0 auto 20px;
}

/* full heart */
.full-heart:before,
.full-heart:after{
    content:"";
    position:absolute;
    width:60px;
    height:95px;
    background:red;
    border-radius:60px 60px 0 0;
}

.full-heart:before{
    left:60px;
    transform:rotate(-45deg);
    transform-origin:0 100%;
}

.full-heart:after{
    left:0;
    transform:rotate(45deg);
    transform-origin:100% 100%;
}

.pulse{ animation:pulse 1s infinite; }
@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.15);}
100%{transform:scale(1);}
}

/* broken heart halves */
.half{
    position:absolute;
    width:120px;
    height:110px;
}

.left{
    clip-path: polygon(
        0 0, 50% 0,
        45% 15%, 55% 25%,
        45% 35%, 55% 45%,
        45% 55%, 55% 65%,
        45% 75%, 55% 85%,
        50% 100%, 0 100%
    );
    transform:translateX(-6px);
}

.right{
    clip-path: polygon(
        50% 0, 100% 0, 100% 100%, 50% 100%,
        55% 85%, 45% 75%,
        55% 65%, 45% 55%,
        55% 45%, 45% 35%,
        55% 25%, 45% 15%
    );
    transform:translateX(6px);
}

.half:before,
.half:after{
    content:"";
    position:absolute;
    width:60px;
    height:95px;
    background:red;
    border-radius:60px 60px 0 0;
}

.half:before{
    left:60px;
    transform:rotate(-45deg);
    transform-origin:0 100%;
}

.half:after{
    left:0;
    transform:rotate(45deg);
    transform-origin:100% 100%;
}